body {
  background-image: url(pexels-pixabay-531880.jpg);
  /* Background color matching the first image */
  color: white;
  /* couleur du text par défaut */
}

.navbar-nav {
  gap: 30px;
  /* permet de créer des espacements entre des élements*/
}

.nav-link {
  color: white !important;
  /* couleur du text par défaut */
  transition: color 0.3s ease;
  /* Smooth transition for color change */
}

.nav-link:hover {
  color: #013d75 !important;
  /* Change color on hover */
}

.nav-item.active .nav-link {
  color: #032c69 !important;
  /* Active link color */
}

.search-container {
  position: relative;
  text-align: center;
}

.search-container img {
  width: 100%;
  height: auto;
}

.search-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 400px;
}



.category-card:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}


.category-card img {
  height: 200px;
  /* Adjuster le height comme voulu*/
  object-fit: cover;
}

h2 {
  color: #eff7fd;
  text-align: center;
}

.social-icons a {
  color: white;
  font-size: 24px;
  margin: 0 10px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #073b66;
}

footer {
  background-color: #343a40;
  color: white;
  bottom: 0;
}

.dish-card img {
  height: 200px;
  object-fit: cover;
}

.dish-card {
  margin-bottom: 20px;
}


.order-button {
  width: 100%;
}


.dish-card img {
  height: 200px;
  object-fit: cover;
}

.dish-card {
  margin-bottom: 20px;
}

.order-button {
  width: 100%;
}

.dish-set {
  display: none;
}

.dish-set.active {
  display: block;
}

.dish-card img {
  height: 300px;
  object-fit: cover;
}

.dish-card {
  margin-bottom: 20px;
}

.order-button {
  width: 100%;
}

.dish-set {
  display: none;
}

.dish-set.active {
  display: block;
}


.dish-card img {
  height: 200px;
  object-fit: cover;

}

.order-form {
  margin-top: 10px;
}

h2 {
  background-color: darkgreen;
}